.accordion-item {
    margin: auto;
    text-align : center;
    width: 300px;
    border-radius: 5;
    box-shadow: 5px 5px 5px 5px rgb(197, 197, 197);
}

h1, h2 {
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}

.form-control {
    height: 1px;
}
