<!--
Cobie Caburao
200436566
ENSE 281
Lab 7
-->
<%- include("layouts/header") -%>

<% if (username === "Adam") { %>
    <h1 class="my-heading">Welcome to my page, <%= username %>!</h1>
<% } else { %>
    <h1 class="error-heading"> Sorry, I don't know you </h1>
<% } %>

<p>My favourite fruits are:</p>
<%- include("partials/list-module.ejs", { itemList : fruitList }) -%>

<%- include("layouts/footer") -%>

