div {
    margin: auto;
    margin-bottom: 50px;
    text-align : center;
    width: fit-content;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 3px;
    background-color: rgb(242, 246, 248);
    box-shadow: 5px 5px 5px 5px rgb(197, 197, 197);
}

h1 {
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.wider-text {
    width: 200px;
}