<div id="new-note" class="input-group mb-3">
    <input id="new-note-input" type="text" class="form-control" placeholder="Enter a new note here">
    <button id="new-note-btn" type="button" class="btn btn-primary">Add</button>
</div>